
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-red lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3 class="m-n font-thin text-white" >Add Scheme/Agency</h3>
                </div>
            </div>
        </div>
       
        <div class="wrapper-md">
            <div class="panel b-a">
                <div class="panel-body">
                    <form [formGroup]="schemeForm" role="form" autocomplete="off">
                        <div class="row">
                            <div class="col-md-12">
                                <legend>
                                    <span class="font-weight-600">Scheme/Agency Information</span>
                                </legend>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input name="type"  type="radio" id="scheme"  class="mx-4 " (click)="toggle('Scheme')" >
                                    <label class="control-label font-weight-600" style="margin:0 12px"  styfor="scheme">Scheme</label>
                                    <input name="type"  type="radio"  class="mx-4 "  (click)="toggle('Agency')">
                                    <label class="control-label font-weight-600"  style="margin:0 12px"  >Agency</label>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="type">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">{{type}} Code</label>
                                    <input formControlName="schemeCode"  type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="type">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">{{type}} Name</label>
                                    <input formControlName="schemeName" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="type">
                                <div class="form-group">
                                    <label class="control-label font-weight-600">{{type}} Description</label>
                                    <input formControlName="schemeClassification" type="text" class="form-control" name="fin_no">
                                </div>
                            </div>
                            <div formGroupName="bankDetails">
                                <div class="col-md-4" *ngIf="type">
                                    <div class="form-group">
                                        <label class="control-label font-weight-600">Account No</label>
                                        <input formControlName="accountNo" type="text" class="form-control" name="fin_no">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="type">
                                    <div class="form-group">
                                        <label class="control-label font-weight-600">Agency Name As Per Bank</label>
                                        <input formControlName="agencyName" type="text" class="form-control" name="fin_no">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="type">
                                    <div class="form-group">
                                        <label class="control-label font-weight-600">Bank Name</label>
                                        <input formControlName="bankName"  type="text" class="form-control" name="fin_no">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="type">
                                    <div class="form-group">
                                        <label class="control-label font-weight-600">Branch Name</label>
                                        <input formControlName="branchName" type="text" class="form-control" name="fin_no">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="type">
                                    <div class="form-group">
                                        <label class="control-label font-weight-600">Branch Address</label>
                                        <input formControlName="
                                        " type="text" class="form-control" name="fin_no">
                                    </div>
                                </div>
                            </div>
                           
                         

                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn m-b-xs btn-md btn-success"  (click)="onSubmit()">Save</a>
                                <a class="btn m-b-xs btn-md btn-primary"  (click)="onSubmit()">Save and New</a>
                                <a class="btn m-b-xs btn-md btn-default"  (click)="cancel()">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>