<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <!-- main header -->
      <div class="bg-blue lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3 class="m-n font-thin text-white">Officer List View</h3>
          </div>
          <div class="col-sm-6 text-right poppins hidden-xs">
            <button class="btn btn-sm text-10 btn-addNew m-r-xs report_csv_triger"  (click)="addofficer()" ><i class="fa fa-plus"></i> Create New Officer</button>
          </div>
        </div>
      </div>
      <!-- / main header -->
      <div class="row">
        <div class="col-md-12">
          <div class="card no-shadow">
            <div class="tab-content bg-seashell">
              <div role="tabpanel" class="tab-pane active g-py-0">
                <div class="row row-xs">

                  <table class="table bg-white">
                    <thead>
                      <tr role="row">
                        <th>S. No.</th>
                        <th>Name</th>
                        <th>Father/Husband</th>
                        <th>Identity</th>
                        <th>Contact</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody >
                    <tr *ngFor="let item of officer; let i = index "  >

                        <td><span class="font-bold text-theme">{{i+1}}</span></td>
                        <td><span class="font-bold text-theme">{{item.firstName}} {{item.middleName}} {{item.lastName}}</span>
                          <ul class="list-unstyled text-xs">
                            <li>{{item.DOB}}</li>
                            <li>{{item.gender}}</li>
                          </ul>
                        </td>
                        <td><span class="font-bold text-theme">Father/husband: </span>{{item.father_husbandName}}</td>
                        <td>
                            <ul class="list-unstyled text-xs">
                              <li><span class="font-bold text-theme">Aadhar: </span>{{item.aadhaarNumber}}</li>
                              <li><span class="font-bold text-theme">PAN Card: </span>{{item.panNumber}}</li>
                            </ul>
                        </td>
                        <td>
                            <ul class="list-unstyled text-xs">
                              <li><i class="fa fa-phone"></i> {{item.mobileNumber}}</li>
                              <li><i class="fa fa-envelope"></i> {{item.email}}</li>
                            </ul>
                        </td>
                        <td class="text-center">
                          <div class="btn-group dropdown">
                            <button class="btn btn-default w-xxs btn-sm r-2x" data-toggle="dropdown"
                              aria-expanded="false"><i class="fa fa-cog g-px-5  text-info text-sm"></i> <span class=""><i
                                  class="fa fa-caret-down"></i></span></button>
                            <ul class="dropdown-menu">
                              <li><a (click)="editOfficer(item._id)"><i class="fa fa-edit"></i> Edit </a></li>
                              <li><a (click)="deleteOfficer(item._id)"><i class="fa fa-trash-o"></i> Delete </a></li>
                              <li><a href="#"><i class="fa fa-lock"></i> Lock </a> </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
