
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
      <div class="bg-red lter b-b wrapper-md">
          <div class="row">
              <div class="col-sm-6 col-xs-12">
                  <h3 class="m-n font-thin text-white" >Edit Document</h3>
              </div>
          </div>
      </div>

      <div class="wrapper-md">
          <div class="panel b-a">
              <div class="panel-body">
                  <form [formGroup]="documentForm" >
                      <div class="row">
                          <div class="col-md-12">
                              <legend>
                                  <span class="font-weight-600">Document Information</span>
                              </legend>
                          </div>

                          <div class="col-md-4">
                              <div class="form-group">
                                  <label class="control-label font-weight-600">Document Name</label>
                                  <input formControlName="documentName" type="text" class="form-control" name="fin_no">
                                  <p *ngIf="documentForm.get('documentName')?.hasError('required')&&(documentForm.controls['documentName']?.touched ||submited)" style="color: red;">Document Name Required</p>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <label class="control-label font-weight-600">Document Description </label>
                                  <input formControlName="documentDescription" type="text" class="form-control" name="fin_no">
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <hr/>
                      <div class="row">
                          <div class="col-md-12">
                              <a class="btn m-b-xs btn-md btn-success"  (click)="onSubmit()">Update</a>

                              <a class="btn m-b-xs btn-md btn-default"  (click)="cancel()">Cancel</a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
