<aside id="aside" class="app-aside hidden-xs bg-blue">
  <div class="aside-wrap" id="sidebar">
      <div class="navi-wrap">
          <!-- nav -->
          <nav ui-nav class="navi clearfix" id="leftmenuinnerinner">
              <ul class="nav">
                  <li class="hidden-folded padder m-t m-b-sm text-10">
                      <span>NAVIGATION</span>
                  </li>
                  <li>
                      <a href="/dashboard" class="active">
                          <i class="glyphicon glyphicon-th-large"></i>
                          <span>Dashboard</span>
                      </a>
                  </li><li>
                    <a href="dashboard">
                        <i class="glyphicon glyphicon-th-large"></i>
                        <span>Account Statement</span>
                    </a>
                </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-bullseye"></i>
                          <span>Payment Transfer</span>
                      </a>
                  </li>
                  <li>
                      <a href="/dashboard/navigation/payment-request">
                          <i class="fa fa-file"></i>
                          <span>Payment Request</span>
                      </a>
                  </li>

                  <li>
                    <a href="dashboard">
                        <i class="fa fa-bullseye"></i>
                        <span>Vendor Registration</span>
                    </a>
                </li>
                <li>
                    <a href="dashboard">
                        <i class="fa fa-bullseye"></i>
                        <span>CLF Registration</span>
                    </a>
                </li>
                <li>
                    <a href="dashboard">
                        <i class="fa fa-bullseye"></i>
                        <span>SHG Registration</span>
                    </a>
                </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-handshake-o" aria-hidden="true"></i>
                          <span>BC Sakhi Payment</span>
                      </a>
                  </li>
                  <!-- <li>
                      <a href="dashboard">
                          <i class="fa fa-handshake-o"></i>
                          <span>Vendor & Beneficiary Info.</span>
                      </a>
                  </li> -->
                  <!-- <li>
                      <a href class="auto">
                          <span class="pull-right text-muted">
                              <i class="fa fa-fw fa-angle-right text"></i>
                              <i class="fa fa-fw fa-angle-down text-active"></i>
                          </span>
                          <i class="fa fa-car"></i>
                          <span>Vehicle</span>
                      </a>
                      <ul class="nav nav-sub dk">
                          <li>
                              <a href="dashboard">
                                  <span>All Location Stock</span>
                              </a>
                          </li>
                          <li>
                              <a href="dashboard">
                                  <span>Total Stock</span>
                              </a>
                          </li>
                          <li>
                              <a href="dashboard">
                                  <span>MDS Stock</span>
                              </a>
                          </li>
                          <li>
                              <a href="dashboard">
                                  <span>MMS Stock</span>
                              </a>
                          </li>
                          <li>
                              <a href="dashboard" class="nav-link-render">
                                  <span>Assigned Vehicles</span>
                              </a>
                          </li>
                          <li>
                              <a href="dashboard" class="nav-link-render">
                                  <span>Delivered Vehicles</span>
                              </a>
                          </li>
                          <li>
                              <a href="dashboard">
                                  <span>Damaged Vehicles</span>
                              </a>
                          </li>
                      </ul>
                  </li> -->
                  <li class="line dk"></li>
                  <li class="hidden-folded padder m-t m-b-sm text-10">
                      <span>REPORTS</span>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-calculator"></i>
                          <span>Sheme Wise Report</span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-id-badge"></i>
                          <span>Sanctioned Fund Report</span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-building-o"></i>
                          <span>Utilized Fund Report</span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-product-hunt"></i>
                          <span>Lapsed Fund Report</span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-product-hunt"></i>
                          <span>Policy Violations</span>
                      </a>
                  </li>

                  <li class="line dk"></li>
                  <li class="hidden-folded padder m-t m-b-sm text-10">
                      <span>SYSTEM CONFIGURATION</span>
                  </li>
                  <li>
                      <a href="dashboard/system-configuration/scheme">
                          <i class="fa fa-plus-square"></i>
                          <span>Scheme </span>
                      </a>
                  </li>
                  <li>
                    <a href="dashboard/system-configuration/schemeType ">
                        <i class="fa fa-plus-square"></i>
                        <span>Scheme Type </span>
                    </a>
                </li>
                  <li>
                      <a href="dashboard/system-configuration/office">
                          <i class="fa fa-users"></i>
                          <span>Office </span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard/system-configuration/designation">
                          <i class="fa fa-plus-square"></i>
                          <span>Designation </span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard/system-configuration/officer">
                          <i class="fa fa-users"></i>
                          <span>Officer </span>
                      </a>
                  </li>

                <li>
                    <a href="dashboard/system-configuration/vendor">
                        <i class="fa fa-users"></i>
                        <span>Vender </span>
                    </a>
                </li>
                  <li>
                      <a href="dashboard/system-configuration/beneficiaryMaster">
                          <i class="fa fa-plus-square"></i>
                          <span>Vendor & Beneficiary</span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard/system-configuration/vendorType">
                          <i class="fa fa-users"></i>
                          <span>Vender Type</span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard/system-configuration/vendorService">
                          <i class="fa fa-plus-square"></i>
                          <span>Vendor Service</span>
                      </a>
                  </li>

                  <li>
                      <a href="dashboard/system-configuration/limitSetting">
                          <i class="fa fa-plus-square"></i>
                          <span>Limit Setting </span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard/system-configuration/bank">
                          <i class="fa fa-users"></i>
                          <span>Banks </span>
                      </a>
                  </li>
                  <li class="line dk"></li>
                  <li class="hidden-folded padder m-t m-b-sm text-10">
                      <span>MANUALS</span>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-calculator"></i>
                          <span id="side_users">User Manual </span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-id-badge"></i>
                          <span>PFMS Integration Information </span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-building-o"></i>
                          <span>Support </span>
                      </a>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-product-hunt"></i>
                          <span>Report a Bug </span>
                      </a>
                  </li>

                  <li class="line dk"></li>
                  <li class="hidden-folded padder m-t m-b-sm text-10">
                      <span>LOGOUT</span>
                  </li>
                  <li>
                      <a href="dashboard">
                          <i class="fa fa-power-off"></i>
                          <span>Logout </span>
                      </a>
                  </li>
                  <li class="line dk"></li>
              </ul>
          </nav>
          <!-- nav -->
          <!-- aside footer -->
          <div class="aside-footer wrapper-sm poppins">
              <div class="text-center-folded text-center">

                  <p class="hidden-folded text-xs m-b-xs">Need help ? <a href="https://www.troology.com/"
                          target="_blank" class="font-weight-600">Contact us</a></p>
                  <p class="hidden-folded text-xs m-b-lg"><a href="https://www.troology.com/"
                          target="_blank"><i class="fa fa-bug"></i> Report a bug?</a></p>
                  <!-- <img src="./assets/img/final-logo.png" class="center-block img-responsive m-b-xs"
                      width="75px"> -->
                  <p class="hidden-folded text-10">Version 1.1</p>
                  <hr style="margin: 10px 0;">
                  <p class="hidden-folded text-10 font-weight-600 text-uppercase m-b-xs"><a href=""
                          style="">Support Manual</a></p>
                  <p class="hidden-folded text-10 font-weight-600 text-uppercase m-b-xs"><a
                          href="">Copyright Information</a></p>
              </div>
          </div>
          <!-- / aside footer -->
      </div>
  </div>
</aside>
